<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
    <p><input type="hidden" th:field="*{id}"/></p>

    <label for="name">Name: <br></label>
    <input type="text" th:field="*{name}" id="name">
    <br>
    <br>
    <label for="lastName">Lastname: <br></label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <br>
    <br>
    <label for="city">City: <br></label>
    <input type="text" th:field="*{city}" id="city">
    <br>
    <br>
    <label for="password">Password: <br></label>
    <input type="text" th:field="*{password}" id="password">
    <br>
    <br>
    <ul>
        <li th:each="role : ${roles}">
            <input type="checkbox" name="roles"
                   th:field="*{roles}"
                   th:text="${role.getName()}"
                   th:value="${role.getId()}"
            />
        </li>
    </ul>
    <br>
    <br>
    <input type="submit" value="Edit user">
    <button type="button" onclick="location.href = '/admin/';">Return</button>&nbsp;
</form>
<br>
<br>
<form th:method="GET" action="/logout">
    <input type="submit" value="LOGOUT">
</form>

</body>
</html>


